<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--**************拦截器配置******************-->
<configuration>
    <plugins>
        <plugin interceptor="com.example.demo.common.PageInterceptor">
            <property name="test" value="123"/>
        </plugin>
    </plugins>
</configuration >